[Unit]
Description=Beta Backend (Bun)
After=network-online.target postgres.service

[Container]
ContainerName=beta-be
Image=docker.io/oven/bun:latest
WorkingDir=/app
Network=omega.network
UserNS=keep-id

# 🔑 SSL/TLS Certificate Mounting
# Mount host certificates to solve TLS errors/propagate host trust if needed.
# Note: Mount both source & symlink target (paths vary by distro).
# Volume=/etc/ssl/certs:/etc/ssl/certs:ro
# Volume=/etc/pki/ca-trust:/etc/pki/ca-trust:ro
# Volume=/etc/ca-certificates:/etc/ca-certificates:ro

# Source Code
Volume=/home/omega/Projects/Beta/backend:/app:Z

# App Specific
Environment=PORT=3001

Exec=bun run index.ts

[Service]
Restart=always

[Install]
WantedBy=default.target
